{% extends 'interacoes/base.html' %}


{% block title %}

    Solicitação

{% endblock %}


{% block content %}

    <h2>
        Solicitação {{ solicitacao.id }}
    </h2>

    <p>
        Cliente:
        {{ solicitacao.cliente }}
    </p>

     <p>
        Serviço:
        {{ solicitacao.servico }}

        <a href="{% url 'detalhe_servico' solicitacao.servico.id %}">
            Ver serviço
        </a>
    </p>

    <p>
        Profissional:
        {{ solicitacao.servico.profissional }}

        <a href="{% url 'detalhe_profissional' solicitacao.servico.profissional.id %}">
            Ver profissional
        </a>
    </p>

    <p>
        Descrição:
        {{ solicitacao.descricao }}
    </p>

    <p>
        Status:
        {{ solicitacao.get_status_display }}
    </p>

    {% if solicitacao.status == 'PENDENTE' %}

        <form method="post" action="{% url 'aceitar_solicitacao' solicitacao.id %}">
            {% csrf_token %}
            <button type="submit">Aceitar</button>
        </form>

        <form method="post" action="{% url 'recusar_solicitacao' solicitacao.id %}">
            {% csrf_token %}
            <button type="submit">Recusar</button>
        </form>

        <form method="post" action="{% url 'cancelar_solicitacao' solicitacao.id %}">
            {% csrf_token %}
            <button type="submit">Cancelar</button>
        </form>

    {% elif solicitacao.status == 'ACEITA' %}

        <form method="post" action="{% url 'concluir_solicitacao' solicitacao.id %}">
            {% csrf_token %}
            <button type="submit">Concluir</button>
        </form>

        <form method="post" action="{% url 'cancelar_solicitacao' solicitacao.id %}">
            {% csrf_token %}
            <button type="submit">Cancelar</button>
        </form>

    {% endif %}
    <p>
        Data:
        {{ solicitacao.data_solicitacao }}
    </p>

    <a href="{% url 'editar_solicitacao' solicitacao.id %}">
        Editar
    </a>

    |

    <a href="{% url 'deletar_solicitacao' solicitacao.id %}">
        Excluir
    </a>

{% endblock %}